page-01-indx {

	.barra_busqueda{
		width: 30%;
		float: left;
	}

	.b_buscar{
		width: 19%;
		float: left;
	}

	.background {
		background-color: #EAEAEA;
	}

	.table-container {
		overflow-x: auto;
	}

	.table-rwd{
		width: 1400px;
		th:first-child{
			width:150px;
			position: absolute;
			background: #fff;
		}
		td:first-child{
			width:150px;
			position: absolute;
			background: #fff;
		}
	}

}